<!DOCTYPE html>
<html>
<head>
	<title>GITHUB SURVIVOR</title>
	<link rel="stylesheet" href="/styles/core.css" />
	{% block head %}{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}
</body>
